@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

@if (TempData["message"] is not null)
{
<div class="alert alert-danger">@TempData["message"]</div>
}

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Title</th>
            <th>Price</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var post in Model.Posts)
        {
        <tr>
            <td>@post.Id</td>
            <td>@post.Title</td>
            <td>@post.Price</td>
            <td>
                <a asp-page="./edit" class="btn btn-outline-primary" asp-route-id="@post.Id">Edit</a>
            </td>
        </tr>
        }
    </tbody>
</table>